spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    #/<IP>:<PORT>/<DB NAME>?useSSL=false&useUnicode=true&serverTimezone=Asia/Seoul
    url: jdbc:mysql://localhost:3308/news?serverTimezone=Asia/Seoul
    username: ${spring.datasource.username}
    password: ${spring.datasource.password}


clova:
  url: ${clova.url}
  client:
    id: ${clova.client.id}
    secret: ${clova.client.secret}
  summary:
    size: 5
    minimum-content-size: 1000
    maximum-content-size: 2000

crawler:
  shell:
    execute-command: python
    args:
      test.py

oauth2:
  client:
    registration:
      kakao:
        client-id: ${spring.security.oauth2.client.registration.kakao.client-id}
        #            client-secret: ${spring.security.oauth2.client.registration.kakao.client-secret} # 왠지 모르지만 secret을 사용하면 customOauth2Service로 안넘어감
        scope:
          - profile_nickname
          - profile_image
        client-name: Kakao
        authorization-grant-type: ${spring.security.oauth2.client.registration.kakao.authorization-grant-type}
        client-authentication-method: client_secret_post # 이것도 Post가 아니라 client_secret_post Spring security 5.6 이후
        redirect-uri: ${spring.security.oauth2.client.registration.kakao.redirect-uri}
      provider:
        kakao:
          authorization-uri: ${spring.security.oauth2.client.provider.kakao.authorization-uri}
          token-uri: ${spring.security.oauth2.client.provider.kakao.token-uri}
          user-info-uri: ${spring.security.oauth2.client.provider.kakao.user-info-uri}
          user-name-attribute: ${spring.security.oauth2.client.provider.kakao.user-name-attribute}